.elementor-11 .elementor-element.elementor-element-a33bf28{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:-1px;--padding-right:-1px;--padding-bottom:-1px;--padding-left:-1px;}.elementor-11 .elementor-element.elementor-element-a33bf28::before, .elementor-11 .elementor-element.elementor-element-a33bf28 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-a33bf28 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-a33bf28 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-a33bf28 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-a33bf28 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-a33bf28, .elementor-11 .elementor-element.elementor-element-a33bf28::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-aa59727{--spacer-size:50px;}.elementor-11 .elementor-element.elementor-element-6c3a0e2{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-6c3a0e2::before, .elementor-11 .elementor-element.elementor-element-6c3a0e2 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6c3a0e2 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6c3a0e2 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6c3a0e2 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6c3a0e2 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-497cda7{text-align:center;}.elementor-11 .elementor-element.elementor-element-497cda7 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:36px;font-weight:800;line-height:46px;}.elementor-11 .elementor-element.elementor-element-497cda7 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-65741cf{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-65741cf::before, .elementor-11 .elementor-element.elementor-element-65741cf > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-65741cf > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-65741cf > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-65741cf > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-65741cf > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-45da96d{--spacer-size:40px;width:var( --container-widget-width, 860px );max-width:860px;--container-widget-width:860px;--container-widget-flex-grow:0;}.elementor-11 .elementor-element.elementor-element-45da96d > .elementor-widget-container{margin:0px 0px 0px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-45da96d.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-0c9cd23{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:30px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-0c9cd23::before, .elementor-11 .elementor-element.elementor-element-0c9cd23 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-0c9cd23 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-0c9cd23 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-0c9cd23 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-0c9cd23 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-0c9cd23, .elementor-11 .elementor-element.elementor-element-0c9cd23::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-c85fc06 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:30px;font-weight:700;line-height:36px;}.elementor-11 .elementor-element.elementor-element-bb59803{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;}.elementor-11 .elementor-element.elementor-element-bb59803::before, .elementor-11 .elementor-element.elementor-element-bb59803 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-bb59803 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-bb59803 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-bb59803 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-bb59803 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-3813b67{--spacer-size:10px;}.elementor-11 .elementor-element.elementor-element-3813b67 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-3813b67.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-0bd9113{--display:grid;--e-con-grid-template-columns:repeat(4, 1fr);--e-con-grid-template-rows:repeat(2, 1fr);--gap:30px 30px;--grid-auto-flow:row;--justify-items:center;--align-items:center;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-0bd9113:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-0bd9113 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-0bd9113::before, .elementor-11 .elementor-element.elementor-element-0bd9113 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-0bd9113 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-0bd9113 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-0bd9113 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-0bd9113 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-0bd9113, .elementor-11 .elementor-element.elementor-element-0bd9113::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-0bd9113.e-con{--align-self:center;}.elementor-11 .elementor-element.elementor-element-77f1e16{--display:flex;--min-height:128px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-77f1e16:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-77f1e16 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("http://localhost:81/OCSPlanty/wp-content/uploads/2023/06/strawberry.png");background-size:cover;}.elementor-11 .elementor-element.elementor-element-77f1e16, .elementor-11 .elementor-element.elementor-element-77f1e16::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-6c8c4d2{text-align:center;width:auto;max-width:auto;}.elementor-11 .elementor-element.elementor-element-6c8c4d2 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:1.1em;font-weight:800;line-height:24px;}.elementor-11 .elementor-element.elementor-element-6c8c4d2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-6c8c4d2.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-71b4969{--display:flex;--min-height:128px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-71b4969:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-71b4969 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("http://localhost:81/OCSPlanty/wp-content/uploads/2023/06/estudio-bloom-tOitjphtIXU-unsplash-1.png");background-size:cover;}.elementor-11 .elementor-element.elementor-element-71b4969, .elementor-11 .elementor-element.elementor-element-71b4969::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-fa3231d{text-align:center;}.elementor-11 .elementor-element.elementor-element-fa3231d .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:1em;font-weight:800;line-height:24px;letter-spacing:-0.4px;}.elementor-11 .elementor-element.elementor-element-fa3231d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-fa3231d.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-6d0dc01{--display:flex;--min-height:128px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-6d0dc01:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-6d0dc01 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("http://localhost:81/OCSPlanty/wp-content/uploads/2023/06/redfruits.png");background-size:cover;}.elementor-11 .elementor-element.elementor-element-6d0dc01, .elementor-11 .elementor-element.elementor-element-6d0dc01::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-2bd2955{text-align:center;}.elementor-11 .elementor-element.elementor-element-2bd2955 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:1.1em;font-weight:800;line-height:24px;}.elementor-11 .elementor-element.elementor-element-2bd2955.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-df72636{--display:flex;--min-height:128px;--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-df72636:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-df72636 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("http://localhost:81/OCSPlanty/wp-content/uploads/2023/06/lemon.png");background-size:cover;}.elementor-11 .elementor-element.elementor-element-df72636, .elementor-11 .elementor-element.elementor-element-df72636::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-8d2b262{text-align:center;}.elementor-11 .elementor-element.elementor-element-8d2b262 .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-size:1.1em;font-weight:800;line-height:24px;-webkit-text-stroke-width:0px;stroke-width:0px;-webkit-text-stroke-color:#000;stroke:#000;}.elementor-11 .elementor-element.elementor-element-8d2b262.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-47df2cc > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-47df2cc{width:auto;max-width:auto;}.elementor-11 .elementor-element.elementor-element-47df2cc.elementor-element{--align-self:flex-start;}.elementor-11 .elementor-element.elementor-element-450e844 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-450e844{width:auto;max-width:auto;}.elementor-11 .elementor-element.elementor-element-450e844.elementor-element{--align-self:flex-start;}.elementor-11 .elementor-element.elementor-element-2731c82 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-2731c82{width:auto;max-width:auto;}.elementor-11 .elementor-element.elementor-element-2731c82.elementor-element{--align-self:flex-start;}.elementor-11 .elementor-element.elementor-element-b1f67a2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-b1f67a2{width:auto;max-width:auto;}.elementor-11 .elementor-element.elementor-element-b1f67a2.elementor-element{--align-self:flex-start;}.elementor-11 .elementor-element.elementor-element-bec9ac2{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-bec9ac2:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-bec9ac2 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-bec9ac2::before, .elementor-11 .elementor-element.elementor-element-bec9ac2 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-bec9ac2 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-bec9ac2 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-bec9ac2 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-bec9ac2 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-bec9ac2, .elementor-11 .elementor-element.elementor-element-bec9ac2::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-f6e7faf{--spacer-size:0px;width:var( --container-widget-width, 860px );max-width:860px;--container-widget-width:860px;--container-widget-flex-grow:0;}.elementor-11 .elementor-element.elementor-element-f6e7faf > .elementor-widget-container{margin:0px 0px 0px 0px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-f6e7faf.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-534d81e{--display:flex;--background-transition:0.3s;--overlay-opacity:0.5;}.elementor-11 .elementor-element.elementor-element-534d81e:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-534d81e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-534d81e::before, .elementor-11 .elementor-element.elementor-element-534d81e > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-534d81e > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-534d81e > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-534d81e > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-534d81e > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-534d81e, .elementor-11 .elementor-element.elementor-element-534d81e::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-0f76fbb{--spacer-size:10px;}.elementor-11 .elementor-element.elementor-element-6c2f255{--display:flex;--min-height:0px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-around;--align-items:center;--gap:10px;--overflow:hidden;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-6c2f255:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-6c2f255 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-6c2f255::before, .elementor-11 .elementor-element.elementor-element-6c2f255 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6c2f255 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6c2f255 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6c2f255 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6c2f255 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-6c2f255, .elementor-11 .elementor-element.elementor-element-6c2f255::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-6c2f255.e-con{--align-self:center;--flex-grow:0;--flex-shrink:0;}.elementor-11 .elementor-element.elementor-element-6083324{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:space-around;--align-items:center;--gap:0px;--background-transition:0.3s;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-11 .elementor-element.elementor-element-6083324.e-con{--flex-grow:0;--flex-shrink:1;}.elementor-11 .elementor-element.elementor-element-afc5ff9 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-afc5ff9.elementor-element{--align-self:flex-end;--flex-grow:0;--flex-shrink:0;}.elementor-11 .elementor-element.elementor-element-7c066f7{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--gap:0px;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:0px 0px 0px 2px;--border-width-top:0px;--border-width-right:0px;--border-width-bottom:0px;--border-width-left:2px;border-color:#FFFFFF;--border-color:#FFFFFF;}.elementor-11 .elementor-element.elementor-element-7c066f7, .elementor-11 .elementor-element.elementor-element-7c066f7::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-24c44eb{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;border-style:none;--border-style:none;--border-radius:0px 0px 0px 0px;--border-top-left-radius:0px;--border-top-right-radius:0px;--border-bottom-right-radius:0px;--border-bottom-left-radius:0px;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-24c44eb:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-24c44eb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-24c44eb::before, .elementor-11 .elementor-element.elementor-element-24c44eb > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-24c44eb > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-24c44eb > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-24c44eb > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-24c44eb > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-24c44eb, .elementor-11 .elementor-element.elementor-element-24c44eb::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-04a6a57{--spacer-size:50px;}.elementor-11 .elementor-element.elementor-element-6945dea{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-6945dea:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-6945dea > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-6945dea::before, .elementor-11 .elementor-element.elementor-element-6945dea > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6945dea > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-6945dea > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6945dea > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-6945dea > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-6945dea, .elementor-11 .elementor-element.elementor-element-6945dea::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button{-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;background-color:#E0B9B4;border-color:#E8E8E8;border-style:none;border-radius:5px 5px 5px 5px;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button::before{-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button::after{-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;color:#ffffff;padding:10px 55px 10px 56px;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button .wpr-button-icon{-webkit-transition-duration:0.4s;transition-duration:0.4s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button .wpr-button-icon svg{-webkit-transition-duration:0.4s;transition-duration:0.4s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button .wpr-button-text{-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button .wpr-button-content{-webkit-transition-duration:0.4s;transition-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-wrap{max-width:160px;}.elementor-11 .elementor-element.elementor-element-b325490{text-align:center;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-content{-webkit-justify-content:center;justify-content:center;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-text{-webkit-justify-content:center;justify-content:center;color:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-icon{font-size:18px;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-icon svg{width:18px;height:18px;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-position-left .wpr-button-icon{margin-right:12px;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-position-right .wpr-button-icon{margin-left:12px;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline .wpr-button-icon{color:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline .wpr-button-icon svg{fill:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button-text,.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button::after{font-family:"Syne", Sans-serif;font-size:15px;font-weight:400;line-height:37px;}	.elementor-11 .elementor-element.elementor-element-b325490 [class*="elementor-animation"]:hover,
								.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button::before,
								.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button::after{background-color:#C02E44;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button:hover .wpr-button-text{color:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon{color:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline .wpr-button:hover .wpr-button-icon svg{fill:#ffffff;}.elementor-11 .elementor-element.elementor-element-b325490 .wpr-button:hover{border-color:#E8E8E8;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline .wpr-button{padding:10px 55px 10px 56px;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-block .wpr-button-text{padding:10px 55px 10px 56px;}.elementor-11 .elementor-element.elementor-element-b325490.wpr-button-icon-style-inline-block .wpr-button-content{padding:10px 55px 10px 56px;}.elementor-11 .elementor-element.elementor-element-b9b8833{--display:flex;--gap:0px;--background-transition:0.3s;--overlay-opacity:0.5;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-11 .elementor-element.elementor-element-b9b8833:not(.elementor-motion-effects-element-type-background), .elementor-11 .elementor-element.elementor-element-b9b8833 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}.elementor-11 .elementor-element.elementor-element-b9b8833::before, .elementor-11 .elementor-element.elementor-element-b9b8833 > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-b9b8833 > .e-con-inner > .elementor-background-video-container::before, .elementor-11 .elementor-element.elementor-element-b9b8833 > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-b9b8833 > .e-con-inner > .elementor-background-slideshow::before, .elementor-11 .elementor-element.elementor-element-b9b8833 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-11 .elementor-element.elementor-element-b9b8833, .elementor-11 .elementor-element.elementor-element-b9b8833::before{--border-transition:0.3s;}.elementor-11 .elementor-element.elementor-element-cc19ae9{--spacer-size:50px;}:root{--page-title-display:none;}body.elementor-page-11:not(.elementor-motion-effects-element-type-background), body.elementor-page-11 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3B8E46;}@media(max-width:1024px){.elementor-11 .elementor-element.elementor-element-6c8c4d2 .elementor-heading-title{font-size:15px;}.elementor-11 .elementor-element.elementor-element-fa3231d .elementor-heading-title{font-size:15px;}.elementor-11 .elementor-element.elementor-element-2bd2955 .elementor-heading-title{font-size:15px;}.elementor-11 .elementor-element.elementor-element-8d2b262 .elementor-heading-title{font-size:15px;}.elementor-11 .elementor-element.elementor-element-6c2f255{--justify-content:center;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:0px;}.elementor-11 .elementor-element.elementor-element-6c2f255.e-con{--order:-99999 /* order start hack */;--flex-grow:0;--flex-shrink:0;}}@media(min-width:768px){.elementor-11 .elementor-element.elementor-element-65741cf{--content-width:60%;}.elementor-11 .elementor-element.elementor-element-0c9cd23{--content-width:50%;}.elementor-11 .elementor-element.elementor-element-bb59803{--content-width:60%;}.elementor-11 .elementor-element.elementor-element-0bd9113{--content-width:50%;}.elementor-11 .elementor-element.elementor-element-bec9ac2{--content-width:80%;}.elementor-11 .elementor-element.elementor-element-534d81e{--content-width:60%;}.elementor-11 .elementor-element.elementor-element-6c2f255{--content-width:70%;}.elementor-11 .elementor-element.elementor-element-6083324{--width:50%;}.elementor-11 .elementor-element.elementor-element-7c066f7{--width:50%;}.elementor-11 .elementor-element.elementor-element-24c44eb{--content-width:50%;}}@media(max-width:1024px) and (min-width:768px){.elementor-11 .elementor-element.elementor-element-65741cf{--content-width:80%;}.elementor-11 .elementor-element.elementor-element-0c9cd23{--content-width:80%;}.elementor-11 .elementor-element.elementor-element-0bd9113{--content-width:80%;}.elementor-11 .elementor-element.elementor-element-6c2f255{--content-width:100%;}}@media(max-width:767px){.elementor-11 .elementor-element.elementor-element-497cda7 .elementor-heading-title{font-size:24px;}.elementor-11 .elementor-element.elementor-element-0bd9113{--content-width:100%;--min-height:0px;--e-con-grid-template-columns:repeat(4, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:5px 5px;--grid-auto-flow:row;}.elementor-11 .elementor-element.elementor-element-0bd9113.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-11 .elementor-element.elementor-element-77f1e16{--min-height:127px;--gap:0px;}.elementor-11 .elementor-element.elementor-element-6c8c4d2 .elementor-heading-title{font-size:8px;line-height:10em;}.elementor-11 .elementor-element.elementor-element-6c8c4d2 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-11 .elementor-element.elementor-element-6c8c4d2.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-71b4969{--min-height:127px;}.elementor-11 .elementor-element.elementor-element-fa3231d .elementor-heading-title{font-size:8px;}.elementor-11 .elementor-element.elementor-element-fa3231d.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-2bd2955 .elementor-heading-title{font-size:8px;}.elementor-11 .elementor-element.elementor-element-8d2b262 .elementor-heading-title{font-size:8px;}.elementor-11 .elementor-element.elementor-element-6c2f255{--content-width:100%;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;}.elementor-11 .elementor-element.elementor-element-afc5ff9.elementor-element{--align-self:center;}.elementor-11 .elementor-element.elementor-element-b431ec1.elementor-element{--align-self:center;}}/* Start custom CSS for html, class: .elementor-element-47df2cc */.quantity-btn-plus{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-top-right-radius: 7px;
border:0;
color: white; 
}

.quantity-btn-less{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-bottom-right-radius: 7px;
border:0;
color: white; 
}

.quantity-input {
font-family: Syne;
font-size: 20px;
font-weight: 400;
align-items: center;
justify-content: center;
width: 50px;
height: 56px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
border: 0;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ok-button {
display: flex;
background: #E0B9B4;
width: 100px;
height: 56px;
border-radius: 5px;
border: 0;
color: white;
align-items: center;
justify-content: center;
}

.ok-button:hover {
color:white;
}

.quantity-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 450px) and (min-width: 320px) {
  .quantity-input {
    width: 23px;
    font-size: 10px;
  }
  .ok-button {
      width: 40px;
}
.quantity-btn-plus{
    width: 20px;
}
    
.quantity-btn-less{
    width: 20px;
}
}

@media screen and (max-width: 470px) and (min-width: 456px) {
    .quantity-input {
    width: 30px;
    font-size: 15px;
  }
    .ok-button {
      width: 40px;
}
.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-450e844 */.quantity-btn-plus{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-top-right-radius: 15px;
border:0;
color: white; 
}

.quantity-btn-less{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-bottom-right-radius: 15px;
border:0;
color: white; 
}

.quantity-input {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
width: 51px;
height: 56px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border:0;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ok-button {
background: #E0B9B4;
width: 100px;
height: 56px;
border-radius: 5px;
border: 0;
color: white;
}

.quantity-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 470px) and (min-width: 320px) {
  .quantity-input {
    width: 23px;
    font-size: 10px;
  }
  .ok-button {
      width: 40px;
}
.quantity-btn-plus{
    width: 20px;
}
    
.quantity-btn-less{
    width: 20px;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2731c82 */.quantity-btn-plus{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-top-right-radius: 15px;
border:0;
color: white; 
}

.quantity-btn-less{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-bottom-right-radius: 15px;
border:0;
color: white; 
}

.quantity-input {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
width: 51px;
height: 56px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border:0;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ok-button {
background: #E0B9B4;
width: 100px;
height: 56px;
border-radius: 5px;
border: 0;
color: white;
}

.quantity-content {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 470px) and (min-width: 320px) {
  .quantity-input {
    width: 23px;
    font-size: 10px;
  }
  .ok-button {
      width: 40px;
}
.quantity-btn-plus{
    width: 20px;
}
    
.quantity-btn-less{
    width: 20px;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-b1f67a2 */.quantity-btn-plus{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-top-right-radius: 15px;
border:0;
color: white; 
}

.quantity-btn-less{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
background: #DC9F96;
width: 31px;
height: 28px;
border-bottom-right-radius: 15px;
border:0;
color: white; 
}

.quantity-input {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
text-align: center;
width: 51px;
height: 56px;
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
border:0;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ok-button {
background: #E0B9B4;
width: 100px;
height: 56px;
border-radius: 5px;
border: 0;
color: white;
}

.quantity-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 470px) and (min-width: 320px) {
  .quantity-input {
    width: 23px;
    font-size: 10px;
  }
  .ok-button {
      width: 40px;
}
.quantity-btn-plus{
    width: 20px;
}
    
.quantity-btn-less{
    width: 20px;
}
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-afc5ff9 */.trucmuche{
    margin:20px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-b431ec1 */.trucmuche{
    margin:20px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6c2f255 */.title{
font-family: Syne;
font-size: 30px;
font-weight: 700;
line-height: 36px;
color: white;
}

.form{
font-family: Syne;
font-size: 20px;
font-weight: 400;
line-height: 24px;
color: white;
}

.text-area{
width: 383px;
height: 71px;
border-radius: 7px;
border:none;
margin-top:15px;
margin-bottom:15px;
font-size: 20px;
}

@media (max-width: 1000px) and (min-width: 320px) {
  .text-area {
    width: 300px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1270px) {
  .text-area {
    width: 300px;
  }/* End custom CSS */